body {
    font-family: 'Roboto', sans-serif;
}

.quotes-container {
    background-color: yellow;
}
.features-container{
    background-color: pink;
}

.alert-container {
    background-color: aqua;
}